#joplin-plugin-content {
  min-width: 600px;
}

.dialog {
  padding: 0;
  margin: 0;
  width: 600px;
  min-width: 600px;
}
.dialog-main {
  padding: 0;
  margin: 0;
  width: 600px;
  min-width: 600px;
}
.field {
  padding: 0;
  margin: 0;
  width: 600px;
  min-width: 600px;
}
.tariffs_table, .tariffs_table td, .tariffs_table tr {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}
.inactive_text {
  color: #aaa;
}
